.leaflet-container {
  width: 100vw;
  height: 100%;
}

.leaflet-container .leaflet-marker-pane img,
.leaflet-container .leaflet-shadow-pane img,
.leaflet-container .leaflet-tile-pane img,
.leaflet-container img.leaflet-image-layer,
.leaflet-container .leaflet-tile {
  max-width: none !important;
  max-height: none !important;
  width: 40px;
  height: 25px;
}

.leaflet-tooltip {
  background: #243447;
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
  border: none;
}

.leaflet-tooltip-right:before {
  border-right-color: #243447;
}

.leaflet-tooltip-left:before {
  border-left-color: #243447;
}

path.leaflet-interactive:focus {
  outline: none;
}

.hidden {
  display: none;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: rgb(20, 29, 38);
  color: white;
  box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
}
